Repository yoonhoGo/conveyor, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, plugin-ffi, plugin-wasm, tests, ci/cd, npm, dependencies

.github/labeler.yml:

# Auto-labeling configuration

'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

'rust':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

'plugin-ffi':
  - changed-files:
    - any-glob-to-any-file:
      - 'plugins/**/*'
      - 'conveyor-plugin-api/**/*'

'plugin-wasm':
  - changed-files:
    - any-glob-to-any-file:
      - 'plugins-wasm/**/*'
      - 'conveyor-wasm-plugin-api/**/*'
      - '**/*.wit'

'tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test.rs'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'

'npm':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'scripts/**/*.js'
      - '.npmignore'

'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'package.json'

feat: add DAG-based pipeline system and HTTP fetch transform
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  examples/dag-pipeline-example.toml
  examples/http-batch-example.toml
  examples/http-chaining-example.toml
  src/core/config.rs
  src/core/dag_builder.rs
  src/core/dag_executor.rs
  src/core/legacy_converter.rs
  src/core/mod.rs
  src/core/pipeline.rs
  src/core/stage.rs
  src/modules/transforms/http_fetch.rs
  src/modules/transforms/mod.rs
  tests/dag_pipeline_test.rs
  tests/http_fetch_test.rs
Labels: documentation, rust, tests, dependencies

feat: redesign plugin system with unified input-aware API
  Cargo.lock
  Cargo.toml
  conveyor-plugin-api/Cargo.toml
  conveyor-plugin-api/src/lib.rs
  conveyor-plugin-api/src/traits.rs
  conveyor-wasm-plugin-api/Cargo.toml
  conveyor-wasm-plugin-api/src/lib.rs
  conveyor-wasm-plugin-api/wit/conveyor-plugin.wit
  plugins-wasm/conveyor-plugin-echo-wasm/Cargo.toml
  plugins-wasm/conveyor-plugin-echo-wasm/src/lib.rs
  plugins/conveyor-plugin-http/Cargo.toml
  plugins/conveyor-plugin-http/src/lib.rs
  plugins/conveyor-plugin-mongodb/Cargo.toml
  plugins/conveyor-plugin-mongodb/src/lib.rs
  plugins/conveyor-plugin-test/Cargo.toml
  plugins/conveyor-plugin-test/src/lib.rs
  src/core/dag_builder.rs
  src/core/stage.rs
  src/main.rs
  src/plugin_loader.rs
  src/wasm_plugin_loader.rs
  tests/plugin_test.rs
Labels: rust, plugin-ffi, plugin-wasm, tests, dependencies

feat: add pipeline stage for nested pipeline composition
  CLAUDE.md
  src/core/dag_builder.rs
  src/core/registry.rs
  src/modules/mod.rs
  src/modules/stages/mod.rs
  src/modules/stages/pipeline.rs
  tests/pipeline_stage_test.rs
Labels: documentation, rust, tests

chore: bump version to 0.3.0
  Cargo.lock
  Cargo.toml
  conveyor-plugin-api/Cargo.toml
  conveyor-wasm-plugin-api/Cargo.toml
Labels: rust, plugin-ffi, plugin-wasm, dependencies

feat: add stage management CLI commands and remove generate
  Cargo.lock
  Cargo.toml
  README.md
  src/cli/add_stage.rs
  src/cli/edit.rs
  src/cli/mod.rs
  src/cli/scaffold.rs
  src/main.rs
  tests/cli_commands_test.rs
Labels: documentation, rust, tests, dependencies

docs: update documentation for CLI stage management commands
  CLAUDE.md
  README.md
Labels: documentation

feat: add binary installation script for GitHub Releases
  README.md
  install.sh
Labels: documentation

fix: improve GitHub Actions workflows and remove npm distribution
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
  NPM_README.md
  README.md
  package.json
Labels: documentation, ci/cd, npm, dependencies

chore: remove dependabot configuration
  .github/dependabot.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

perf: add Rust caching and fix cross-compilation with vendored OpenSSL
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Labels: ci/cd

fix: add gcc-aarch64-linux-gnu for zstd-sys cross-compilation
  .github/workflows/release.yml
Labels: ci/cd

feat: enable native-tls-vendored feature for reqwest
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

fix: resolve clippy warnings for CI
  conveyor-plugin-api/src/traits.rs
  plugins/conveyor-plugin-http/src/lib.rs
  plugins/conveyor-plugin-mongodb/src/lib.rs
  src/cli/add_stage.rs
  src/cli/mod.rs
  src/cli/scaffold.rs
  src/core/config.rs
  src/core/pipeline.rs
  src/core/registry.rs
  src/core/strategy.rs
  src/lib.rs
  src/main.rs
  src/modules/sinks/json.rs
  src/modules/sources/json.rs
  src/modules/sources/stdin.rs
  src/modules/transforms/http_fetch.rs
  src/wasm_plugin_loader.rs
Labels: rust, plugin-ffi

docs: streamline CLAUDE.md for AI agent reference
  CLAUDE.md
  README.md
Labels: documentation

refactor: remove legacy pipeline, use DAG-only architecture
  CLAUDE.md
  examples/http_pipeline.toml
  examples/http_plugin_example.toml
  examples/mongodb_pagination_page2.toml
  examples/mongodb_pagination_test.toml
  examples/mongodb_pagination_with_limit.toml
  examples/mongodb_pipeline.toml
  examples/simple_pipeline.toml
  src/core/config.rs
  src/core/executor.rs
  src/core/legacy_converter.rs
  src/core/mod.rs
  src/core/pipeline.rs
  src/lib.rs
  src/main.rs
  tests/integration_test.rs
Labels: documentation, rust, tests

docs: reorganize documentation into dedicated docs/ directory
  .npmignore
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/dag-pipelines.md
  docs/development.md
  docs/http-fetch-transform.md
  docs/module-reference.md
  docs/modules-reference.md
  docs/plugin-system.md
  scripts/install.js
Labels: documentation, npm

feat: add convenience transforms for data aggregation and manipulation
  src/modules/transforms/distinct.rs
  src/modules/transforms/group_by.rs
  src/modules/transforms/mod.rs
  src/modules/transforms/reduce.rs
  src/modules/transforms/select.rs
  src/modules/transforms/sort.rs
Labels: rust

chore: bump version to 0.4.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat: add stream processing support with sources, sinks, and transforms
  Cargo.lock
  Cargo.toml
  README.md
  examples/file-watch-example.toml
  examples/streaming-example.toml
  examples/streaming-window-example.toml
  src/core/config.rs
  src/core/dag_executor.rs
  src/core/mod.rs
  src/core/stage.rs
  src/core/streaming.rs
  src/core/traits.rs
  src/modules/sinks/mod.rs
  src/modules/sinks/stdout_stream.rs
  src/modules/sources/file_watch.rs
  src/modules/sources/mod.rs
  src/modules/sources/stdin_stream.rs
  src/modules/stages/pipeline.rs
  src/modules/transforms/aggregate_stream.rs
  src/modules/transforms/mod.rs
  src/modules/transforms/window.rs
Labels: documentation, rust, dependencies

feat: add automatic version checking and update command
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/update.rs
Labels: rust, dependencies

chore: bump version to 0.5.0
  Cargo.toml
Labels: rust, dependencies

fix: resolve CI failures
  Cargo.lock
  plugins/conveyor-plugin-mongodb/src/lib.rs
  src/cli/add_stage.rs
  src/cli/edit.rs
  src/core/config.rs
  src/core/dag_executor.rs
  src/core/stage.rs
  src/core/strategy.rs
  src/core/streaming.rs
  src/modules/sinks/stdout_stream.rs
  src/modules/sources/file_watch.rs
  src/modules/sources/stdin_stream.rs
  src/modules/stages/pipeline.rs
  src/modules/transforms/aggregate_stream.rs
  src/modules/transforms/group_by.rs
  src/modules/transforms/reduce.rs
  src/modules/transforms/sort.rs
  src/modules/transforms/window.rs
  src/update.rs
  tests/dag_pipeline_test.rs
  tests/http_fetch_test.rs
  tests/integration_test.rs
Labels: rust, plugin-ffi, tests, dependencies

fix: build plugins before running tests in CI
  .github/workflows/ci.yml
Labels: ci/cd

fix: ignore WASM plugin tests and allow CI warnings
  .github/workflows/ci.yml
  tests/wasm_plugin_test.rs
Labels: tests, ci/cd

fix: ignore HTTP fetch test requiring external API
  tests/http_fetch_test.rs
Labels: tests

fix: handle Windows path backslashes in TOML config
  tests/dag_pipeline_test.rs
Labels: tests

build: limit platform support to macOS only
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  CLAUDE.md
  docs/development.md
  examples/plugin-template/README.md
  install.sh
  src/plugin_loader.rs
  src/update.rs
Labels: documentation, rust, ci/cd

chore: bump version to 0.5.1
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

fix: resolve lint issues and update CI to run on macOS
  .github/workflows/ci.yml
  tests/dag_pipeline_test.rs
Labels: tests, ci/cd

feat: add pre-push git hook for automatic lint checks
  README.md
  hooks/README.md
  hooks/install.sh
  hooks/pre-push
Labels: documentation

feat: implement function-based stage API and remove legacy type system
  Cargo.toml.backup
  examples/dag-pipeline-example.toml
  examples/function-based-pipeline.toml
  examples/jsonplaceholder_to_mongodb.toml
  examples/mongodb_pagination_test.toml
  examples/mongodb_pipeline.toml
  examples/test_mongodb_write.toml
  plugins/conveyor-plugin-mongodb/src/lib.rs
  src/core/config.rs
  src/core/dag_builder.rs
  src/core/pipeline.rs
  src/core/registry.rs
  src/modules/mod.rs
Labels: rust, plugin-ffi

WIP: Migrate from legacy traits to Stage-based architecture
  src/core/registry.rs
  src/core/stage.rs
  src/core/traits.rs
  src/lib.rs
  src/modules/mod.rs
  src/modules/sinks/csv.rs
  src/modules/sinks/json.rs
  src/modules/sinks/mod.rs
  src/modules/sinks/stdout.rs
  src/modules/sinks/stdout_stream.rs
  src/modules/sources/csv.rs
  src/modules/sources/json.rs
  src/modules/sources/mod.rs
  src/modules/sources/stdin.rs
  src/modules/transforms/aggregate_stream.rs
  src/modules/transforms/distinct.rs
  src/modules/transforms/filter.rs
  src/modules/transforms/group_by.rs
  src/modules/transforms/http_fetch.rs
  src/modules/transforms/map.rs
  src/modules/transforms/mod.rs
  src/modules/transforms/reduce.rs
  src/modules/transforms/select.rs
  src/modules/transforms/sort.rs
  src/modules/transforms/validate.rs
  src/modules/transforms/window.rs
Labels: rust

Complete migration from legacy traits to Stage-based architecture
  src/cli/mod.rs
  src/core/dag_executor.rs
  src/modules/sources/json.rs
  src/modules/transforms/aggregate_stream.rs
  src/modules/transforms/distinct.rs
  src/modules/transforms/group_by.rs
  src/modules/transforms/http_fetch.rs
  src/modules/transforms/map.rs
  src/modules/transforms/reduce.rs
  src/modules/transforms/select.rs
  src/modules/transforms/sort.rs
  src/modules/transforms/validate.rs
  src/modules/transforms/window.rs
  tests/dag_pipeline_test.rs
  tests/http_fetch_test.rs
  tests/integration_test.rs
  tests/pipeline_stage_test.rs
Labels: rust, tests

docs: update documentation and examples for Stage-based architecture
  CLAUDE.md
  examples/file-watch-example.toml
  examples/http-batch-example.toml
  examples/http-chaining-example.toml
  examples/http_pipeline.toml
  examples/http_plugin_example.toml
  examples/mongodb_pagination_page2.toml
  examples/mongodb_pagination_test.toml
  examples/mongodb_pagination_with_limit.toml
  examples/simple_pipeline.toml
  examples/streaming-example.toml
  examples/streaming-window-example.toml
Labels: documentation

docs: update README.md to use function-based API
  README.md
Labels: documentation

refactor: remove unused legacy compatibility code
  src/core/strategy.rs
  tests/dag_pipeline_test.rs
Labels: rust, tests

chore: bump version to 0.6.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

chore: fmt
  plugins/conveyor-plugin-mongodb/src/lib.rs
  src/core/pipeline.rs
  src/core/registry.rs
  src/core/strategy.rs
  src/core/traits.rs
  src/modules/mod.rs
  src/modules/transforms/aggregate_stream.rs
  src/modules/transforms/window.rs
  tests/dag_pipeline_test.rs
Labels: rust, plugin-ffi, tests

feat: add ad-hoc code signing to install script
  install.sh
  src/cli/add_stage.rs
Labels: rust

chore: bump version to 0.6.1
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies
