Repository yoonhoGo/conveyor, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, plugin-ffi, plugin-wasm, tests, ci/cd, npm, dependencies

feat: AsyncPipeline - Actor 패턴 기반 파이프라인 실행기 추가
  Cargo.lock
  Cargo.toml
  src/core/dag_executor.rs
Labels: rust, dependencies

feat(core): StreamStage trait 및 병렬 HTTP 처리 구현
  src/core/stage.rs
  src/modules/transforms/http_fetch.rs
Labels: rust

feat(transforms): map.apply에 boolean 및 문자열 상수 지원 추가
  src/modules/transforms/map.rs
Labels: rust

feat(cli): plugin registry 캐시 문제 해결을 위한 update 명령어 및 --refresh 옵션 추가
  src/cli/plugin.rs
Labels: rust

chore: bump version to 0.13.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat(mongodb): add aggregation pipeline support
  docs/plugins/mongodb.md
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: documentation, plugin-ffi

feat(mongodb): add bulkWrite operation support
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: plugin-ffi

feat(mongodb): add Many operations support to bulkWrite
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: plugin-ffi

feat(mongodb): config를 통한 직접 문서 입력 기능 추가
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: plugin-ffi

feat(mongodb): add Handlebars template support for dynamic queries
  Cargo.lock
  docs/plugins/mongodb.md
  plugins/conveyor-plugin-mongodb/Cargo.toml
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: documentation, rust, plugin-ffi, dependencies

chore: bump version to 0.14.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat(transform): add chunk.apply transform for batch processing
  plugins/conveyor-plugin-mongodb/src/lib.rs
  src/modules/mod.rs
  src/modules/transforms/chunk.rs
  src/modules/transforms/mod.rs
Labels: rust, plugin-ffi

chore: bump version to 0.15.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

perf(ci): optimize GitHub Actions cache for faster builds
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci/cd

feat: add JavaScript inline execution WASM plugin
  Cargo.lock
  Cargo.toml
  README.md
  examples/js-transform-example.toml
  plugins-wasm/conveyor-plugin-js-wasm/Cargo.toml
  plugins-wasm/conveyor-plugin-js-wasm/README.md
  plugins-wasm/conveyor-plugin-js-wasm/src/lib.rs
Labels: documentation, rust, plugin-wasm, dependencies

docs: add local development guide for WASM plugins
  README.md
  plugins-wasm/conveyor-plugin-js-wasm/README.md
  scripts/build-wasm-plugins.sh
Labels: documentation, plugin-wasm

feat: add WASM plugin support to registry and deployment system
  .github/workflows/release-plugins.yml
  registry.json
  scripts/deploy-plugins.sh
Labels: ci/cd

feat(wasm): WASM 플러그인 다중 경로 로딩 지원 추가
  plugins-wasm/conveyor-plugin-js-wasm/README.md
  src/wasm_plugin_loader.rs
Labels: documentation, rust, plugin-wasm

feat(mongodb): Extended JSON 형식 지원 추가
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: plugin-ffi

docs: add comprehensive parallel processing documentation
  CLAUDE.md
  README.md
  docs/parallel-processing.md
Labels: documentation

feat(core): 설정 기반 executor 선택 기능 추가
  examples/test-executor-async.toml
  examples/test-executor-channel.toml
  examples/test-executor-dag.toml
  examples/users.json
  src/core/config.rs
  src/core/dag_builder.rs
  src/core/pipeline.rs
  src/main.rs
  src/modules/stages/pipeline.rs
Labels: rust

test: add mut to test variables for mutable execute() calls
  src/core/dag_builder.rs
  tests/dag_pipeline_test.rs
  tests/http_fetch_test.rs
  tests/pipeline_stage_test.rs
Labels: rust, tests

fix: clippy
  src/wasm_plugin_loader.rs
Labels: rust

chore: bump version to 0.16.0
  Cargo.lock
  Cargo.toml
  conveyor-plugin-api/Cargo.toml
  conveyor-wasm-plugin-api/Cargo.toml
  plugins-wasm/conveyor-plugin-echo-wasm/Cargo.toml
  plugins-wasm/conveyor-plugin-excel-wasm/Cargo.toml
  plugins-wasm/conveyor-plugin-js-wasm/Cargo.toml
  plugins/conveyor-plugin-http/Cargo.toml
  plugins/conveyor-plugin-kafka/Cargo.toml
  plugins/conveyor-plugin-mongodb/Cargo.toml
  plugins/conveyor-plugin-test/Cargo.toml
Labels: rust, plugin-ffi, plugin-wasm, dependencies

feat(mongodb): add toObjectId transform function
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: plugin-ffi

refactor(chunk): row 전체를 그룹화하도록 변경
  docs/parallel-processing.md
  src/modules/transforms/chunk.rs
Labels: documentation, rust

chore: bump version to 0.17.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

.github/labeler.yml:

# Auto-labeling configuration

'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

'rust':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

'plugin-ffi':
  - changed-files:
    - any-glob-to-any-file:
      - 'plugins/**/*'
      - 'conveyor-plugin-api/**/*'

'plugin-wasm':
  - changed-files:
    - any-glob-to-any-file:
      - 'plugins-wasm/**/*'
      - 'conveyor-wasm-plugin-api/**/*'
      - '**/*.wit'

'tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test.rs'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'

'npm':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'scripts/**/*.js'
      - '.npmignore'

'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'package.json'
