Repository yoonhoGo/conveyor, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, plugin-ffi, plugin-wasm, tests, ci/cd, npm, dependencies

.github/labeler.yml:

# Auto-labeling configuration

'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

'rust':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

'plugin-ffi':
  - changed-files:
    - any-glob-to-any-file:
      - 'plugins/**/*'
      - 'conveyor-plugin-api/**/*'

'plugin-wasm':
  - changed-files:
    - any-glob-to-any-file:
      - 'plugins-wasm/**/*'
      - 'conveyor-wasm-plugin-api/**/*'
      - '**/*.wit'

'tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test.rs'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'

'npm':
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'scripts/**/*.js'
      - '.npmignore'

'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'package.json'

fix: correct install.sh stderr handling and add sudo fallback
  install.sh
Labels: none

feat: add json.extract transform for nested field extraction
  src/modules/mod.rs
  src/modules/transforms/json_extract.rs
  src/modules/transforms/mod.rs
Labels: rust

feat: add ai.generate transform for LLM API integration
  src/modules/mod.rs
  src/modules/transforms/ai.rs
  src/modules/transforms/mod.rs
Labels: rust

feat: add global variables system with env substitution
  src/core/config.rs
  src/modules/transforms/ai.rs
  src/modules/transforms/json_extract.rs
Labels: rust

docs: comprehensive update for function-based API and new features
  README.md
  docs/modules-reference.md
Labels: documentation

fix: clippy warning - use unwrap_or instead of unwrap_or_else
  src/modules/transforms/ai.rs
Labels: rust

chore: bump version to 0.7.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat: add json.extract transform for nested field extraction
  src/modules/mod.rs
  src/modules/transforms/json_extract.rs
  src/modules/transforms/mod.rs
Labels: rust

feat: add ai.generate transform for LLM API integration
  src/modules/mod.rs
  src/modules/transforms/ai.rs
  src/modules/transforms/mod.rs
Labels: rust

feat: add global variables system with env substitution
  src/core/config.rs
  src/modules/transforms/ai.rs
  src/modules/transforms/json_extract.rs
Labels: rust

docs: comprehensive update for function-based API and new features
  README.md
  docs/modules-reference.md
Labels: documentation

chore: bump version to 0.7.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

fix: add Int32/UInt32/UInt64 support in as_record_batch conversion
  src/core/traits.rs
Labels: rust

fix: clippy warning - use unwrap_or instead of unwrap_or_else
  src/modules/transforms/ai.rs
Labels: rust

fix: remove unused imports in stage.rs
  src/core/stage.rs
Labels: rust

feat: add Excel WASM plugin with file system support
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  EXCEL_PLUGIN.md
  examples/excel-test/README.md
  examples/excel-test/create_sample.py
  examples/excel-test/csv-to-excel.toml
  examples/excel-test/excel-roundtrip.toml
  examples/excel-test/excel-to-stdout.toml
  examples/excel-test/filtered.xlsx
  examples/excel-test/output.xlsx
  examples/excel-test/sample.csv
  examples/excel-test/verify-filtered.toml
  plugins-wasm/conveyor-plugin-excel-wasm/Cargo.toml
  plugins-wasm/conveyor-plugin-excel-wasm/README.md
  plugins-wasm/conveyor-plugin-excel-wasm/src/lib.rs
  src/core/config.rs
  src/core/pipeline.rs
  src/core/stage.rs
  src/wasm_plugin_loader.rs
Labels: documentation, rust, plugin-wasm, dependencies

chore: bump version to 0.8.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

chore: bump version to 0.8.1
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

chore: remove unused import and mut keyword
  src/modules/transforms/distinct.rs
  src/modules/transforms/group_by.rs
Labels: rust

feat: add comprehensive metadata system and interactive builder
  CLAUDE.md
  README.md
  docs/INTERACTIVE_BUILDER_DEMO.md
  docs/cli-reference.md
  docs/metadata-system.md
  src/cli/interactive_builder.rs
  src/cli/mod.rs
  src/core/dag_builder.rs
  src/core/metadata.rs
  src/core/mod.rs
  src/core/stage.rs
  src/main.rs
  src/modules/sinks/csv.rs
  src/modules/sinks/json.rs
  src/modules/sinks/stdout.rs
  src/modules/sinks/stdout_stream.rs
  src/modules/sources/csv.rs
  src/modules/sources/json.rs
  src/modules/sources/stdin.rs
  src/modules/stages/pipeline.rs
  src/modules/transforms/aggregate_stream.rs
  src/modules/transforms/ai.rs
  src/modules/transforms/filter.rs
  src/modules/transforms/http_fetch.rs
  src/modules/transforms/json_extract.rs
  src/modules/transforms/map.rs
  src/modules/transforms/reduce.rs
  src/modules/transforms/select.rs
  src/modules/transforms/sort.rs
  src/modules/transforms/validate.rs
  src/modules/transforms/window.rs
  src/plugin_loader.rs
  src/wasm_plugin_loader.rs
Labels: documentation, rust

docs: refactor documentation structure and remove redundancy
  CLAUDE.md
  EXCEL_PLUGIN.md
  README.md
  docs/INTERACTIVE_BUILDER_DEMO.md
  docs/README.md
  docs/architecture.md
Labels: documentation

chore: apply cargo fmt to all source files
  src/cli/interactive_builder.rs
  src/cli/mod.rs
  src/modules/sinks/csv.rs
  src/modules/sinks/json.rs
  src/modules/sinks/stdout.rs
  src/modules/sinks/stdout_stream.rs
  src/modules/sources/csv.rs
  src/modules/sources/json.rs
  src/modules/sources/stdin.rs
  src/modules/stages/pipeline.rs
  src/modules/transforms/aggregate_stream.rs
  src/modules/transforms/ai.rs
  src/modules/transforms/distinct.rs
  src/modules/transforms/filter.rs
  src/modules/transforms/group_by.rs
  src/modules/transforms/http_fetch.rs
  src/modules/transforms/json_extract.rs
  src/modules/transforms/map.rs
  src/modules/transforms/reduce.rs
  src/modules/transforms/select.rs
  src/modules/transforms/sort.rs
  src/modules/transforms/validate.rs
  src/modules/transforms/window.rs
  src/plugin_loader.rs
Labels: rust

feat: add encryption/decryption transforms with multiple algorithm support
  Cargo.lock
  Cargo.toml
  examples/encryption-algorithms-example.toml
  examples/encryption-example.toml
  examples/users-sensitive.json
  src/core/dag_executor.rs
  src/modules/mod.rs
  src/modules/transforms/decrypt.rs
  src/modules/transforms/encrypt.rs
  src/modules/transforms/mod.rs
Labels: rust, dependencies

chore: bump version to 0.9.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat: add FFI-safe metadata system and update MongoDB plugin naming
  conveyor-plugin-api/src/lib.rs
  conveyor-plugin-api/src/metadata.rs
  conveyor-plugin-api/src/traits.rs
  plugins/conveyor-plugin-http/src/lib.rs
  plugins/conveyor-plugin-mongodb/src/lib.rs
  plugins/conveyor-plugin-test/src/lib.rs
  src/cli/edit.rs
  src/core/registry.rs
  src/modules/transforms/http_fetch.rs
  tests/wasm_plugin_test.rs
Labels: rust, plugin-ffi, tests

docs: MongoDB plugin 함수명 및 문서 형식 통일
  docs/configuration.md
  docs/modules-reference.md
  docs/plugin-system.md
  plugins/conveyor-plugin-mongodb/src/lib.rs
Labels: documentation, plugin-ffi

chore: bump version to 0.10.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat: 플러그인 배포 및 다운로드 시스템 추가
  .github/workflows/release-plugins.yml
  .serena/.gitignore
  .serena/project.yml
  Cargo.lock
  Cargo.toml
  registry.json
  src/cli/mod.rs
  src/cli/plugin.rs
  src/core/mod.rs
  src/core/plugin_manager.rs
  src/core/plugin_registry.rs
  src/main.rs
  src/plugin_loader.rs
Labels: rust, ci/cd, dependencies

style: cargo fmt 적용
  src/core/plugin_manager.rs
  src/core/plugin_registry.rs
Labels: rust

chore: bump version to 0.11.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

chore: update registry with checksums for v0.11.0 and add deployment scripts
  registry.json
  scripts/README.md
  scripts/deploy-plugins.sh
Labels: documentation

fix: http 플러그인 headers 설정이 인식되지 않는 문제 해결
  plugins/conveyor-plugin-http/src/lib.rs
  src/core/stage.rs
Labels: rust, plugin-ffi

chore: bump version to 0.11.1
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

chore: update registry with checksums for v0.11.1
  registry.json
Labels: none

fix: release-plugins 워크플로우에 workflow_dispatch 추가 및 gh CLI로 업로드 방식 변경
  .github/workflows/release-plugins.yml
Labels: ci/cd

feat(kafka): Apache Kafka 통합을 위한 FFI 플러그인 추가
  Cargo.lock
  Cargo.toml
  examples/kafka-consumer-example.toml
  examples/kafka-etl-example.toml
  examples/kafka-producer-example.toml
  plugins/conveyor-plugin-kafka/Cargo.toml
  plugins/conveyor-plugin-kafka/README.md
  plugins/conveyor-plugin-kafka/src/lib.rs
Labels: documentation, rust, plugin-ffi, dependencies

docs: restructure documentation with clear separation of user and developer guides
  CLAUDE.md
  README.md
  docs/README.md
  docs/builtin-functions.md
  docs/modules-reference.md
  docs/plugin-system.md
  docs/plugins/http.md
  docs/plugins/mongodb.md
Labels: documentation

chore: bump version to 0.12.0
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat(core): add ChannelDagExecutor with bounded channel backpressure
  src/core/dag_executor.rs
  src/lib.rs
Labels: rust

feat(core): add broadcast channel fan-out support to ChannelDagExecutor
  src/core/dag_executor.rs
Labels: rust
